<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ambulance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,208}</string>
                <key>spriteSourceSize</key>
                <string>{104,208}</string>
                <key>textureRect</key>
                <string>{{406,0},{104,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambulance1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,207}</string>
                <key>spriteSourceSize</key>
                <string>{101,207}</string>
                <key>textureRect</key>
                <string>{{305,0},{101,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambulance2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,208}</string>
                <key>spriteSourceSize</key>
                <string>{101,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{101,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ambulance3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,207}</string>
                <key>spriteSourceSize</key>
                <string>{101,207}</string>
                <key>textureRect</key>
                <string>{{204,0},{101,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Audi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,213}</string>
                <key>spriteSourceSize</key>
                <string>{100,213}</string>
                <key>textureRect</key>
                <string>{{101,208},{100,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Black_viper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,217}</string>
                <key>spriteSourceSize</key>
                <string>{104,217}</string>
                <key>textureRect</key>
                <string>{{101,424},{104,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,217}</string>
                <key>spriteSourceSize</key>
                <string>{95,217}</string>
                <key>textureRect</key>
                <string>{{205,424},{95,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mini_truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,204}</string>
                <key>spriteSourceSize</key>
                <string>{112,204}</string>
                <key>textureRect</key>
                <string>{{92,0},{112,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mini_van.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,195}</string>
                <key>spriteSourceSize</key>
                <string>{92,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Police.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,216}</string>
                <key>spriteSourceSize</key>
                <string>{101,216}</string>
                <key>textureRect</key>
                <string>{{0,424},{101,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Police1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,214}</string>
                <key>spriteSourceSize</key>
                <string>{98,214}</string>
                <key>textureRect</key>
                <string>{{299,208},{98,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Police2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,214}</string>
                <key>spriteSourceSize</key>
                <string>{98,214}</string>
                <key>textureRect</key>
                <string>{{201,208},{98,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Police3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,216}</string>
                <key>spriteSourceSize</key>
                <string>{99,216}</string>
                <key>textureRect</key>
                <string>{{397,208},{99,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Taxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,223}</string>
                <key>spriteSourceSize</key>
                <string>{115,223}</string>
                <key>textureRect</key>
                <string>{{390,424},{115,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,218}</string>
                <key>spriteSourceSize</key>
                <string>{90,218}</string>
                <key>textureRect</key>
                <string>{{300,424},{90,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cars_sheet.png</string>
            <key>size</key>
            <string>{510,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc7c4094deed6445d99402bc4472d76:27bc460a94c4320768f9147f36918c1f:6fdec1b946ffc5ed29ea9f6b30fd8217$</string>
            <key>textureFileName</key>
            <string>Cars_sheet.png</string>
        </dict>
    </dict>
</plist>
